:root{
    --main-background-color: rgb(94, 155, 204);
    --button-color: rgb(140, 140, 140);
}
* {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(94, 155, 204);
}

main {
    position: absolute;
    background-color: white;
}

h1 {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-color);
    color: white;
}

.card-container {
    border: solid 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    gap: 5px;
}

.welcome-header {
    margin-bottom: 0px;
}

.q-card {
    text-align: center;
    font-size: 1.5rem;
}

.options {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

#quiz-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: auto;
}

#play-again,
#ldr-brd-add,
#player-input,
#score-submit {
    display: none;
}

#timer {
    position: absolute;
    top: 10px;
    left: 10px;
}

