body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 75px;
    margin-bottom: 5px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    height: 500px;
    border: solid 1px black;
    position: relative;
    justify-content: center;
}

.q-card {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 350px;
    border:solid black 1px;
    position: absolute;
}

#q-2,
#q-3,
#q-4 {
    display: none;
}